span{
    /* display: block; */
    /* inline elements cannot have a margin on the top or bottom */
    display: inline-block;
    /* inline-block kind of mixes the two kinds of elements */
    margin: 20px;
    padding: 20px;
}
div{
    /* display: inline; */
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}

/* the default browser styles can be overriden */