
/* CSS reset */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header{
 background-color: #F63232;
 padding: 20px;
 text-align: center;
 position: fixed;
 width: 100%;
 /* brings it forward out of the page */
 z-index: 1;
 top: 0;
 left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    /* multiple padding in one statement, the first value is top and bottom, the second
    value is left and right */
    padding: 6px 12px;
    /* display inline-block fixes the element padding stretching across the screen */
    display: inline-block;
    /* border radius makes the corners of the element curved */
    border-radius: 36px;
}
.banner{
    position:relative;
}
.banner img{
    /* fits the banner image within the viewport */
    max-width: 100%;
}
.banner .welcome{
    background-color: #FEB614;
    color:white;
    padding:30px;
    position: absolute;
    left: 0;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner h2 span{
    /* takes the value of the parent and multiples it by 1.3 | the em value */
    font-size: 1.3em;
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    /* makes the element stick once the scroll bar reaches it */
    position: sticky;
    top: 105px;
}
nav ul{
    /* fixes the list elements wrapping around to the next line */
    white-space: nowrap;
    /* margin makes the width stretch to the size of the viewport */
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    /* inline-block makes the list elements sit next to each other */
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: #4B4B4B;
}
nav li a.join{
    color: #F63232;
}
main{
    /* makes the content fit in a central collumn with the margin auto worked out
    on the left and right sides */
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    /* fixes the border going off the screen on smaller screen sizes */
    box-sizing: border-box;
}
article h2{
    color: #F63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4B4B4B;
}
.images{
    text-align: center;
    margin: 80px 0;
    /* solves the wrap around problem */
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
section.join{
    background-color: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
}
.join h2{
    font-size: 36px;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}
/* pseudo classes */

/* Note the a:hover ← anchor with a : in the middle to denote a pseudo class */
nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    position: relative;
    top: -4px;
    /* ^ bottom: 4px , just a different way to write it */
}

/* when the form field is in focus do this */
form input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
}
/* when input is valid do this */
form input:valid{
    border: 4px solid #71d300;
}

/* hits the first child of a parent class */
/* nav li:first-child{
    border: 3px solid #F63232;
} */

/* Note the p::first-line ← p element with a :: in the middle to denote a psuedo element*/
/* :: injects a pseudo element into the actual element */
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}

/* section.join p::first-letter{
    font-weight: bold;
    font-size: 1.2em;
} */

p::selection{
    background-color: #F63232;
    color: white;
}

/* injects content after the element */
p::after{
    content: '...'
}

footer p::after{
    content: '';
}

/* responsive styles */

/* media querie , any styles put inside will apply at this size screen (size < 1400px) */
@media screen and (max-width: 1400px){
    .banner .welcome h2{
        font-size: 60px;
    }
    nav li{
        font-size: 18px;
    }
}
@media screen and (max-width: 960px){
    .banner .welcome h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 700px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 10px;
    }
    /* removes the line break */
    .banner .welcome br{
        display: none
    }
    .banner .welcome h2{
        font-size: 25px;
    }
    /* makes the Marioclub text the same size as the other text */
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width: 560px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header{
        position: relative;
    }
    nav{
        top: 0;
    }
}